apiVersion: v1
kind: Service
metadata:
  name: hybrid-test-app
  namespace: hybridbridge
  labels:
    app: hybrid-test-app
spec:
  type: ClusterIP
  selector:
    app: hybrid-test-app
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
